:root {
  --color-primary: #0077cc;
  --color-secondary: #66b2ff;
  --color-text: #ffffff;
  --color-action: #ff4d4d;
  --color-background: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
}